/* Index */
.imgInicio{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.textoIndex{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #820C6C;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 1.5cm;
    white-space: pre-line;  
}
/* Principal */
.textinic{
    background-image: url(../IMG/imghome.PNG);
    background-size: cover;
    background-position: center;
    color: #820C6C;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: x-large;
    white-space: pre-line; 
}
.animacionPrincipal{
    animation-duration: 5s;
} 

header{
    text-align: center;
    color: #E79FBD;
    font-family: 'Roboto Slab', serif;
}

.secciones{
    font-size: x-large; 
    
}


.logoInic{
    width: 5%;
    margin-left: 30%;
    margin-bottom: -5%;
    border-radius: 1rem;
}
.logo__efecto:hover{
    width: 4%;
}

body{
    background-color: #f8edec;
}

.Roboto{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: #820C6C;
    white-space: pre-line;
    background-image: url(../IMG/imgnos.PNG);
    background-size: cover;
    
}

.titNosotros{
    font-family: 'Roboto Slab', serif;
    color: #820C6C;
    white-space: pre-line;
    display: flex;
    flex-direction: column;
}
.footer{
    font-family: 'Roboto Slab', serif;
    color: #820C6C;
    font-size: medium ;
    text-align: left;
    line-height: 50px;
    position: fixed;
    bottom: -20px;
    margin: 0px;
    width: 100%;
    background-color:#FAE1DD;
    height: 70px;
    border-top:6px #FAE1DD
}
ul{
    list-style: none;
}

nav{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Roboto Slab', serif;
    color: #820C6C;
    
}

.menu{
    display: flex;
    flex-wrap: wrap;
    

}
.menu li{
    padding: 10px;
    margin: 15px;
    font-size: large;
}
/* Transformacion Navegacion */

.menu__nav a:hover{
    color: #EB84AF;
    font-size: medium;
    font-family:'Roboto', sans-serif;
}

/*  Registrarme */
.bodyRegistro{
    background-image: url(../IMG/imgprod.PNG);
    background-size: cover;
    background-position:center;
}

.registrarme{
    display: flex;
    justify-content:center;
    

}

.subRegistro{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 20px;
    font-family: 'Roboto Slab', serif;
    color: #820C6C;
    font-size: large;
    border-radius: 1cm;
    border: #E79FBD;
}

.submit{
    background-color: #fccfe2;
    border: #E79FBD;
    border-style:initial;
    border-radius: 1cm;
}

.titleRegistro{
    font-size: large;
    text-align: center;
    font-family: "Roboto slab";
    color: #820C6C;
    white-space: pre-line;
}

/* Contacto */

.bodyContacto{
    background-image: url(../IMG/Contacto.png);
    background-size: cover;
    background-position:initial;
}

.contacto{
    display: flex;
    justify-content:center;
    
}

.subContacto{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 20px;
    font-family: 'Roboto Slab', serif;
    color: #820C6C;
    font-size: large;
}

.enviar{
    background-color: #fccfe2;
    border: #E79FBD;
    border-style:initial;
    border-radius: 1cm;
    outline: none;
    font-family: 'Roboto Slab', serif;
    font-size: medium;
    color: #820C6C;

}

/* Sucursales */

.imgSucursales{
    background-image: url(../IMG/Sucursales.PNG);
    background-size: cover;
    background-position: center;
    color: #820C6C;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: x-large;
    white-space: pre-line; 
}

.textoTienda{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #820C6C;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: large;
    white-space: pre-line; 
}

.imgSucur{
    background-image: url(../IMG/Sucursales.PNG);
    background-size: cover;
    background-position: initial;
    color: #820C6C;
    font-family: 'Roboto Slab', serif;
    font-size: large;
}
/* Productos */

main{
    max-width: 500px;
    padding: 5px;
    margin-left: 30%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
}

div{
    position: relative;
}
.imgProd{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.foto1{
    grid-row: 1/2;

}
.foto2{
    grid-column: 2/5;
}
.foto3{
    grid-row: 3/3;
}
.foto4{
    grid-column: 1/3;
}
.foto5{
    grid-column: 3/5;
}
.foto6{
    grid-column: 2/5;
}

.productos{
    display: block;
    position: absolute;
    justify-content: space-around;
    text-align: center;
    bottom: 15%;
    right: 35%;
    font-family: 'Roboto Slab', serif;
    color: #820C6C;
}

.secciones{
    font-size: x-large; 
    
}
.menuProd{
    padding: 10px;
    font-size: large;
}

/* /* Grids Sucursales */

.pagSucursales{
    max-width: 35%;
    padding: 5px;
    margin-left: 30%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
}

div{
    position: relative;
}
.tienda{
    object-fit: cover;
    width: 130px;
    height: 130px;
    border-radius: 1rem;
}

.tienda1{
    grid-row: 1/2;

}
.seccion1{
    grid-column: 2/3;
    margin-top: 18%;
    font-size: x-large;
}
.sucursal1{
    grid-column: 3/5;

}
.tienda2{
    grid-row: 2/2;
}
.seccion2{
    grid-column: 2/3;
    margin-top: 18%;
    font-size: x-large;
}
.sucursal2{
    grid-column: 3/5;
}
.sucursales{
    padding: 10px;
    margin: 50px;
    font-family: 'Roboto Slab', serif;
    color: #820C6C;
    font-size: large;
    border-radius: 1cm;
    border: #E79FBD;
}

.seccion{
    font-size: x-large;
    margin-top: 8%;

}

/* Responsive Index */

@media screen and (max-width: 767px){
    .logoInic{
        width: 15%;
        margin-left: 0%;
        margin-bottom: -15%;
    }
    .imgInicio{
        display: flex;
        width: 100%;
    }
    .textoIndex{
        top: 32%;
        left: 45%;
        font-size: 50px;    
    }
    .footer{
        font-size: small ;
        text-align: center;
        margin: 0px;
        width: 98%;
    }
    nav{
        display: flex;
        justify-content: flex-end;    
    }
    
    .menu{
        display: block;
        flex-direction: column;
    }
    .menu li{
        justify-content: flex-end;
        padding: initial;
        margin: 10px;
    }
    main{
        max-width: 350px;
        padding: 25px;
        margin-left: 15%;
    }
    .productos{
        bottom: 8%;
        right: 15%;
        font-size: large;
    }
    .secciones{
        font-size: large; 
        
    }
    .menuProd{
        padding: 5px;
        font-size: medium;
    }
    .prodTitle{
        display: flex;
        justify-content: center;
    }


    /* Responsive Registrame */

    .bodyRegistro{
    background-position:center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
    .titleRegistro{
        margin-top: 150px;
    }

    /* Responsive Contacto */

.bodyContacto{
    background-position:center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.subContacto{
    padding: 0px;
    margin: 15px;
    }

    /* Responsive Principal */

    .textinic{
    background-position: center center;
    background-size: inherit;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: large;
    }

    /* Responsive Sucursales */
.pagSucursales{
    margin-left: 17%;

    }
.imgSucur{
    background-image: none;
    }
.titleRegistro{
    margin-top: 80px;
    }

    /* Responsibe Nosotros */
.Roboto{
    display: grid;
    justify-items: stretch;
    background-position:center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: medium;
    }

    /* Responsive Tienda */
.Tienda{
    margin-top: 30px;
    }
.textoTienda{
    top: 55%;
}
}