.imgInicio{
    display: block;
    margin-left: auto;
    margin-right: auto;
}    
.logoInic{
    width: 75%;
    border-radius: $medida-borde;
}
// Contacto
.bodyContacto{
    background-image: url(../IMG/Captura.PNG);
    background-size: cover;
    background-position:initial;
}

// Sucursales
.imgSucur{
    background-image: url(../IMG/Captura3.PNG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: $color-fuente;
    font-family: 'Roboto Slab', serif;
    font-size: large;
}
