@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

@mixin flex-row-reverse-space-evenly {
    display:flex;   
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

@mixin text-align-center {
    text-align: center;    
}