.navbar-collapse{
    display: flex;
    justify-content: space-evenly;
    font-family: $fuentePrincipal;
    color: $color-fuente;
}
.nav-pills .nav-link.active{
    color: $color-fuente;
    background-color:$color-botones;
    border-color: $color-botones;
}
nav a:hover{
    color: $color-navegacion;
    font-size: medium;
    font-family:$fuenteSecundaria;
}

ul{
    list-style: none;
}
.menu{
    display: flex;
    flex-wrap: nowrap;
    }
.menu li{
    padding: 10px;
    margin: 15px;
    font-size: large;
    }
.menu__nav a:hover{
    color: $color-navegacion;
    font-size: medium;
    font-family:$fuenteSecundaria;
    }