// titulo tienda
.titleTienda{
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: $color-fuente;
    white-space: pre-line;
    margin: 30px;
}
// Nosotros
.titNosotros{
    font-family: 'Roboto Slab', serif;
    color: $color-fuente;
    white-space: pre-line;
    display: flex;
    flex-direction: column;
}

// Titulo Productos y sucursales
header{
    text-align: center;
    color: $color-fuente;
    font-family: 'Roboto Slab', serif;
    font-size: medium;
}