//colores

$color-fuente:#820c6c;
$color-background:#f8edec;
$color-botones:#fccfe2;
$color-footer:#FAE1DD;
$color-navegacion:#EB84AF;
$color-borde:#E79FBD;

// fuente
$fuentePrincipal: 'Roboto Slab', serif;
$fuenteSecundaria:'Roboto', sans-serif;

// Borde
$medida-borde:1rem;

